	</main>
	<footer>
		<div class="footer-inner">
			<span class="myFont">Copyright &copy; 2016 <a href="/">{{ site.author }}</a></span>
			<ul>
				<li><a href="{{ "/"}}" class="myFont css2dcc4b9955748">首页</a></li>
				<li><a href="{{ "/about"}}" class="myFont css2dcc4b9955748">关于</a></li>
				<li><a href="javascript:scroll(0,0)" class="myFont css2dcc4b9955748">Top</a></li>
			</ul>
		</div>
	</footer>
	<!--返回顶部按钮-->
	<div class="go-top">
        <div class="arrow"></div>
        <div class="stick"></div>
    </div>
